.jumbotron{
	padding-TOP: 7rem;
	background-color: #a8e5ff;
}

#ourmemories{
	background: #4980f5;
	
}

#ourmemories .col-md-4{
	margin: 10px 0px 10px;
}

#ourmemories .col-md-5{
	margin: 10px 0px 10px;
}

section{
	padding-top: 5rem;
}

